/* image styles in class "blogimgbox" */
figure {
    /* border: thin #c0c0c0 solid; */
    display: flex;
    flex-flow: column;
    /* padding: 5px; */
    max-height: 300px;
    margin: auto;
}

img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
}

figcaption {
    /* background-color: #222; */
    color: #fff;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 3px;
    text-align: left;
}
