/* Google font Noto Sans JP thin, medium, fold */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap');
/* Import image css styles used in the class blogimgbox */
@import url('img.css');
/* Import other css styles */
@import url('other.css');

/* sytles for html tags, grids and flexbox */
body {
  margin: 40px;
  /* font-size: 18px; */
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.75;
  color: black;
}

h1, h2, h3,h4, h5, h6, p{
  font-family: 'Noto Sans JP', sans-serif;
}

p {
  font-size: 0.8rem;
}

a{
  color: #F9F9FA;;
}
a:hover{
  color: orange;
}

.annotation{
  font-size: 0.5rem;
  font-style: italic;
}

/* grids */
/* Smallest window: Anything smaller than first breakpoint 600px */
.container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  'hd'
  'sd'
  'main'
  'ft';
  /* border: 5px solid green; */
  /* background-color: red; */
}

.box {
  background-color: #F9F9FA;
  color: #FFF;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
  margin: 8px;
  /* border: 1px solid blue; */
  /* height: 100%; */
}
.footerContainer {
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.box2{
  min-width: 50px;
  text-align: center;
  /* border: 1px  solid red; */
  }

.blogimgbox {
  background-color: #96A0AA;
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
}

/* apply color pallets: teal */
.header {
  grid-area: hd;
  background-color: #454F58;
}

.sidebar{
  grid-area: sd;
 background-color: #96A0AA;
}
.content {
  grid-area: main;
  background-color: #F9F9FA;
  color: black;
}

.footer {
  grid-area: ft;
  background-color: #454F58;
}

.nestedgrid{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat (3, 1fr);
  /* border: 5px solid green; */
}
.one {
  display:flex;
  flex-direction: row;
  background-color: #96A0AA;
  color:white;
  padding:4px;
  /* border: solid red; */
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* media query breakpoint*/
@media (min-width: 600px) {
.container {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
  'hd hd'
  'sd main'
  'ft ft';
  /* background-color: red; */
  /* border: 5px solid green; */
}
}
