/* Google font Noto Sans JP thin, medium, fold */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap');

body {
  margin: 40px;
  /* font-size: 18px; */
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.75;
  color: black;
}

h1, h2, h3,h4, h5, h6, p{
  font-family: 'Noto Sans JP', sans-serif;
}

p {
  font-size: 0.8rem;
}

a{
  color: #F9F9FA;;
}
a:hover{
  color: orange;
}

figure {
    /* border: thin #c0c0c0 solid; */
    display: flex;
    flex-flow: column;
    /* padding: 5px; */
    max-height: 300px;
    margin: auto;
}

img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
}

figcaption {
    /* background-color: #222; */
    color: #fff;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 3px;
    text-align: left;
}

.annotation{
  font-size: 0.5rem;
  font-style: italic;
}

/* grids */
/* Smallest win: Anything smaller than first breakpoint 600px */
.container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  'hd'
  'sd'
  'main'
  'ft';
  /* border: 5px solid green; */
  /* background-color: red; */
}

.box {
  background-color: #F9F9FA;
  color: #FFF;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
  margin: 8px;
  /* border: 1px solid blue; */
  /* height: 100%; */
}
.footerContainer {
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.box2{
  min-width: 50px;
  text-align: center;
  /* border: 1px  solid red; */
  }

.blogimgbox {
  background-color: #96A0AA;
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
}

/* apply color pallets: teal */
.header {
  grid-area: hd;
  background-color: #454F58;
}

.sidebar{
  grid-area: sd;
 background-color: #96A0AA;
}
.content {
  grid-area: main;
  background-color: #F9F9FA;
  color: black;
}

.footer {
  grid-area: ft;
  background-color: #454F58;
}

.nestedgrid{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat (3, 1fr);
  /* border: 5px solid green; */
}
.one {
  display:flex;
  flex-direction: row;
  background-color: #96A0AA;
  color:white;
  padding:4px;
  /* border: solid red; */
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

#avatar{
  border-radius: 50%;
  width:100px;
  height:100px;
}
i {
  color: #96A0AA;
  font-size: 2.5rem;
}

.btn {
  border: none;
  border-radius: 3px;
  color: black;
  font-size: 0.8rem;
  padding: 4px 4px;
  cursor: pointer;
  background-color: white;
  width:100%
  }

.btn:hover {
  background-color: #96A0AA;
}

/* media query breakpoint*/
@media (min-width: 600px) {
.container {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
  'hd hd'
  'sd main'
  'ft ft';
  /* background-color: red; */
  /* border: 5px solid green; */
}
}
